@charset "utf-8";
@font-face {
	font-family: 'yekan';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Yekan.eot?#') format('eot'),
	url('../fonts/Yekan.woff') format('woff'),
	url('../fonts/Yekan.ttf') format('truetype');
}

@font-face {
	font-family: 'iran';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/iran.eot?#') format('eot'),
	url('../fonts/iran.woff') format('woff'),
	url('../fonts/iran.ttf') format('truetype');
}
.clear{clear: both;}
body{
	font-family: 'iran' !important;
	color: #777;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6, .y{
	font-family: 'yekan' !important;
}
.dr{direction: rtl !important;}
.tari{text-align: right !important;}
.mabo10{margin-bottom: 10px !important;}
.mato50{margin-top: 50px !important;}
.pato20{padding-top: 20px;}
.pabo20{padding-bottom: 20px;}

.red{color: #bf1377 !important;}

.envor-section{
	direction: rtl !important;
}
.envor-header-1 .envor-header-bg .envor-logo{
	padding: 0;
}
.envor-header-1 .envor-header-bg .envor-logo img {
	float: left;
	margin-right: 10px;
	max-height: 90px;
	margin-top: 5px;
}
#envor-preload span {
	letter-spacing: 0px;
}
.envor-feature header i{
	left: initial;
	right: 0;
}
.arrow-color{
	left: initial;
	right: 15px;

}
.envor-feature header{
	padding-left: initial;
	padding-right: 80px;
	text-align: right;
	direction: rtl;
	font-size: 18px;
	font-weight: bold;
	font-family: 'yekan';
}

.envor-feature p {
	direction: rtl !important;
	text-align: justify !important;
}
#gallery ul li{
	display: inline-block;
	margin: 10px;
}
#gallery ul{
	padding: 0;
	margin: 0;
}
.envor-footer .envor-widget {
	float: right;
	direction: rtl !important;
	text-align: right;
}
.envor-contacts-widget p .fa, .envor-contacts-widget p .glyphicon {
	left: initial;
	right: 0;
}
.envor-footer{
	color: #edc0c9;
	font-size: 16px;
}
.envor-layerslider .envor-layerslider-block {
	opacity: 0.8 !important;
	text-align: right;
	direction: rtl;
}
.envor-project {
	float: right;
}
.envor-project .envor-project-inner .envor-project-details {
	height: 300px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	position: relative;
	width: 100%;
	text-align: right;
	direction: rtl;
}
.envor-project .envor-project-inner .envor-project-details p {
	line-height: 28px;
	direction: rtl;
	text-align: right;
	margin-bottom: 30px;
	margin-top: 0;
}
.rivaslider-wrapper-inner {
	width: 100%;
}
.envor-section.register a{
	color: #a01c65;
	text-decoration: none;
}
.envor-section.register a:hover{
	color: #541336;
}
.envor-section.register h2 {
	display: block;
}
.envor-section.register p {
	padding: 20px 0;
}
.envor-section.register {
	font-size: 16px;
	line-height: 18px;
}
.envor-section.register li,
.envor-section.register ul{
	list-style: outside;
	margin-bottom: 10px;
}

@media (max-width: 768px) {
	#envor-header-menu{
		height: 100px;
	}
	.envor-header-1{
		text-align: center;
	}
	.envor-header-1 a{
		width: 100%;
	}
	.envor-header-1 .envor-header-bg .envor-logo{
		position: relative;
	}
	.envor-header-1 .envor-header-bg .envor-logo img {
		float: initial;
		text-align: center;
	}
}
.envor-header-sticked{
	z-index: 25;
}
.alert.alert-danger{
	background: #f49ac1;
	color: #a30963;
	border: 1px solid #a30963;
	border-radius: 0;
}
.envor-header-1 .envor-header-bg nav a{
	font-family: 'yekan';
	font-size: 14px !important;
	font-weight: bold;
}
.register-btn {
	background: #f49ac1;
}
.envor-header-1 .envor-header-bg nav .register-btn .hover{
	background-color: #ec148e !important;
}
.register-btn:hover a{
	color: #fff;
}
.avatars{
	padding: 20px;
	text-align: center;
}
.avatars .avatar{
	display: inline-block;
	margin: 5px 5px 0 0;
}
.avatars .avatar img{
	border-radius: 5px;
}
#sponsors > .col-md-3{
	float: right;
}